<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenPlantCommandConsoleUI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OpenPlantCommandConsoleUI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="x86"/>
      </assemblyBinding>
    </runtime>  
  
    <userSettings>
        <OpenPlantCommandConsoleUI.Settings>
            <setting name="LastUsedStream" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedApplication" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedPart" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedConfigFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CfgFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedRepository" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>660, 298</value>
            </setting>
            <setting name="PartHistory" serializeAs="String">
                <value />
            </setting>
        </OpenPlantCommandConsoleUI.Settings>
    </userSettings>
</configuration>